@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');

body {
    font-family: 'Baskervville', serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background: #7A918D;
}

.left-nav, .right-nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

.left-nav {
    font-size: 24px;
    font-weight: bold;
}

.logo {
    width: 60px;
    height: auto;
}

.right-nav a {
    text-decoration: none;
    color: antiquewhite;
    margin-right: 20px;
    font-weight: bold;
    font-size: 24px;
}

.right-nav a:link {
    text-decoration: none;
}

.right-nav a:hover {
    text-decoration: underline;
    color: white;
}
